@use '../utils/variables';
@use '../utils/breakpoints';

.btn-burger{
    z-index: 2;
    margin: 0;
    padding: 0;
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media screen and (width >= 660px){
        display: none;
    }
}

.btn-burger .icon-close{
    opacity: 0;
    transform-origin: center;
    transition: transform 0.3s ease;
    transform: rotate(0deg); 
}

.btn-burger.is-open .icon-close{
    z-index: 5;
    opacity: 1;
    transition: 500ms;
    transform: rotate(90deg);
}

.btn-burger .icon-menu{
    opacity: 1;
    transform-origin: center;
    transition: transform 0.3s ease;
    transform: rotate(0deg); 
}

.btn-burger.is-open .icon-menu{
    opacity: 0;
    transition: transform 0.3s ease;
    transform: rotate(90deg); 
}


.btn-burger .icons-mobile-menu:hover,
.btn-burger .icons-mobile-menu:focus{
    fill: variables.$blue-accent-color;
}

.header-burger-elements {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease, opacity 0.1s ease;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 25px;
  background-color: variables.$white-color;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 1;

  @media screen and (width >= 660px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    max-height: none;
    overflow: visible;
    opacity: 1;
    padding: 0;
  }
}

.header-burger-elements.is-open {
  max-height: 500px; 
  opacity: 1;
  box-shadow: 0 2px 2px rgb(179 178 178 / 10%);
}


.button-header-block{
    @media screen and (width >= 660px) {
        display: none;
    }

    &.donat-overlay{
        display: none;

        @media screen and (width >= 768px) {
            display: block;
        }
    }
}

.desk-join-btn{
    display: none;
    margin-right: 20px;
    @media screen and (min-width: breakpoints.$tablet) {
        display: inline-block;
    }
}

.header-burger-elements.is-open .nav-list{
    display: block;
}


.header-burger-elements.is-open .contacts{
    display: block;
}

.header-burger-elements.is-open .button-header-block{
    display: block;
}