@use '../utils/variables';

.organization-block{
    display: flex;
    align-items: center;

    & .info{
        padding: 30px;
        border-radius: 20px;
        box-shadow: variables.$box-shadow-section-blocks;
    }

    & img{
        display: none;
        margin-left: 70px;
        border-radius: 20px;

        @media screen and (width >= 1000px) {
            display: block;
        }
    }

    & .button{
        display: block;
        width: 100%;
    }
}

.our-achives{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); // адаптивно
    gap: 10px;
    justify-items: center;
}

.achive-block {
    position: relative;
    width: 150px;
}

.progress-bar {
    position: absolute;
    bottom: 50px;
    left: 0;
    height: 0.5px;
    background: variables.$dark-blue-accent-color;
    width: 0%;
    border-radius: 4px;
    transition: width 0.3s;
}
