@use '../utils/variables';
@use '../utils/breakpoints';

.our-partners {
  display: grid;
  place-items: center center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 30px;

  @media screen and (width <= 390px) {
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr)); 
  }

  @media screen and (min-width: breakpoints.$tablet) {
     margin-bottom: 50px;
  }

  & .item {
    width: 250px;

    @media screen and (width <= 390px) {
      width: 235px;  
    }
  }

  & img {
    width: 250px;    
    height: auto;   
    display: inline-block; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:hover, &:focus{
        transform: translateZ(10px) translateY(-3px); 
    }

    @media screen and (width <= 390px) {
      width: 235px;  
    }
  }
}
