@use '../utils/variables';

.projects-block{
    & .content-block{
        position: relative;

        & video.content {
            max-width: 530px;
            aspect-ratio: 530 / 483;
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        & iframe.content {
            max-width: 530px;
            aspect-ratio: 530 / 483;
            height: 483;
            object-fit: cover;
        }


        &.without-margin-one-photo{
            margin-bottom: 80px;
        }

        &.one{
            @media screen and (width >= 1000px) {
                margin-bottom: 80px;
            }
        }

        &:last-child{
            margin-bottom: 50px;
        }
    }

    & .info{
        @media screen and  (width >= 1100px){
            display: flex;
            flex-direction: row;

            &.reverse{
                flex-direction: row-reverse;
            }

            &.one-photo{
                align-items: center;
            }
        }

    }

    & .content{
        position: absolute;
        margin-bottom: 50px;
        border-radius: 20px;
        border: 1px solid variables.$black-color;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;

         @media screen and (width <= 1099px) {
            left: 0;
            width: 100%;
            max-width: 530px;
            aspect-ratio: 530 / 483; 
            height: auto;           
        }

        @media screen and (width >= 1100px) {
            margin-left: 48px;
            margin-bottom: 0;
            top: 0;
            right: 0;
        }

        &.active{
            position: relative;
            z-index: 1;
            opacity: 1;
        }

        &.reverse{
            left: 0;
            margin-left: 0;

            @media screen and (width >= 1100px) {
                margin-right: 48px;
            }
        }

    }
}
