@use '../utils/variables';
@use '../utils/breakpoints';

.team-block{
    overflow: hidden;
    padding: 30px;
    border-radius: 20px;
    box-shadow: variables.$box-shadow-section-blocks;

    & .members-cards{
      @media screen and (width >= 860px) {
        display: flex;
      }
    }
}

.team-content{
  @media screen and (width >= 900px) {
    display: flex;
    align-items: center;
  }

  &__info{
    order: 2;
    margin-bottom: 30px;

    @media screen and (width >= 900px) {
      margin-left: 50px;
      width: 500px;
      margin-bottom: 0;
    }
  }
}

.slide {
  order: 1;
  position: relative;
  z-index: 0;
  height: 50vh;
  color: #fff;
  border: 1px solid variables.$black-color;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  cursor: pointer;
  transition: all 500ms ease-in-out;

  @media screen and (width >= 1000px) {
    height: 70vh;
  }

  & .slide-info{
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    max-width: 377px;
    transition: opacity 0.1s ease-in 0.1s;

    @media screen and (width >= 860px) {
      opacity: 0;
    }

    @media screen and (min-width: breakpoints.$mobile) {
      bottom: 20px;
    }
  }

  &.active{
    @media screen and (width >= 860px) {
      flex: 10;
    }
  }

  &.active .slide-info{
    @media screen and (width >= 860px) {
      opacity: 1;
      transition: opacity 0.3s ease-in 0.4s;
    }
  }
}


.member-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: variables.$white-color;
    border-radius: 50%;
    box-shadow: none;
    background-color: variables.$blue-accent-color;
    border: 1px solid variables.$black-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        fill: variables.$black-color;
        background-color: variables.$yellow-color;
    }

    &.socials-footer{
      margin-left: 20px;

      @media screen and (width >= 480px) {
        margin-left: 30px;
      }

      & .icon-send{
        margin-right: 4px;
      }

      &:first-child{
        margin-left: 0;
      }
    }
}
